[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
pyjwt = "*"
psycopg2 = "*"
flask-migrate = "*"
gunicorn = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.8"
